/* selects the body element */
body {
    font-size: 24px;
    text-align: center;
}

h1 {
    /* using a sans-serif font for headings is popular when mixing different type faces
        https://www.adobe.com/creativecloud/design/discover/serif-vs-sans-serif.html */
    font-family: "Copperplate", "Courier New", sans-serif;
    font-size: 30px;
    color: #663399;
    text-align: center;

}

h2 {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 22px;
    text-align: center;
}

.newUser {
    font-size: 20px;
    padding: 10px
}

.checkInButton {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(to bottom right, #e66465, #9198e5);
  color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.checkInButton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}


.wrapper {
    background: #FFE4B5;
    margin: 24px auto;
    padding: 24px;
    border-radius: 20px;
    width: 60%;
}

