

.newUser {
    font-size: 20px;
    padding: 10px
}

.checkInButton {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(to bottom right, #e66465, #9198e5);
  color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.checkInButton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}


