.project-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title {
  font-size: 1.2rem;
  margin-right: 8px;
}

.description {
  font-size: 1rem;
}

.hwset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 4px;
  padding: 8px;
  margin-right: 32px;
}

.label {
  font-size: 0.8rem;
  font-weight: bold;
}

.hwsets {
  margin-top: 8px;
  margin-left: 32px;
}